diffusers==0.34.0
transformers==4.45.0
xformers==0.0.28.post1
torchsde
einops
safetensors
tqdm
psutil
kornia>=0.7.1
websocket-client==1.6.3
albumentations==1.4.3
cmake
imageio
joblib
matplotlib
pilgram
scikit-learn
numba
numexpr
insightface
onnx
segment-anything
piexif
ultralytics!=8.0.177
timm
importlib_metadata
opencv-python-headless>=4.0.1.24
filelock
numpy
scikit-image
python-dateutil
svglib
fvcore
yapf
ftfy
addict
yacs
trimesh[easy]

accelerate
opencv-python
scipy
triton
altair
pandas
controlnet-aux
Pillow
mediapipe

huggingface-hub

aiohttp
pyyaml
importlib_metadata
peft

# --- RunPod worker ---
runpod                          
omegaconf